.github/
.vscode/
coverage/
docs/
examples/
src/
.*
*config.js*
*config.mjs*
.mise.toml
pnpm-workspace.yaml
*.md
logo.*
**/*.spec.*
**/__tests__/
**/__mocks__/
**/__snapshots__/
api-extractor.json
temp/
dist/tsdoc-metadata.json
tsconfig*.json
