# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build

on:
  push:
    tags-ignore:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-rc.[0-9]+
    branches:
      - master
      - next
    paths-ignore:
      - 'VERSION'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        uses: pnpm/action-setup@v2
        with:
          version: 7
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
      - name: Build
        run: pnpm run build
      - name: Audit
        run: pnpm audit --production
      - name: Lint
        run: pnpm run lint
      - name: Test
        run: pnpm run unit
      - name: Archive code coverage results
        if: matrix.node-version == '18.x'
        uses: actions/upload-artifact@v1
        with:
          name: code-coverage-report
          path: coverage
  bump-version:
    name: Bump version
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 18
      - name: Install dependencies
        uses: pnpm/action-setup@v2
        with:
          version: 7
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
      - name: Store version
        run: pnpm run version:update
      - name: Commit version changes
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
          git config --global user.name 'Release Bot'
          git config --global user.email '2273103+SkeLLLa@users.noreply.github.com'
          pnpm run release
      - name: Commit version changes
        if: ${{ github.ref == 'refs/heads/next' }}
        run: |
          git config --global user.name 'Release Bot'
          git config --global user.email '2273103+SkeLLLa@users.noreply.github.com'
          pnpm run release -- --prerelease rc --skip.changelog
